//=========================================Main Section===========================================================

.main-section {
	@include adaptiveValue("padding-top", 41, 20);
	@include adaptiveValue("padding-bottom", 41, 20);
	transition: all 0.3s;
	.menu-open &{
		opacity: 0.5;
	}
	@media (max-width:$tablet){
		padding-left: toRem(80);
	}
	&__container {
		@media (min-width:$tablet){
			padding-right: toRem(95);
			padding-left: toRem(71);
			max-width: toRem(1134);	
		}
	}

	&__header {
		@include adaptiveValue("margin-bottom", 51, 20);
	}

	&__title {
		font-size: toRem(24);
		&:not(:last-child){
			margin-bottom: toRem(10);
		}
		transform: translate(0, 20%);
		transition: opacity 0.5s, transform 0.5s;
		opacity: 0;
		
		._watcher-view &{
			opacity: 1;
			transform: translate(0, 0);
		}
	}

	&__dashboard {}
}

.dashboard-main-section {
	// max-width: 100%;
	@include adaptiveValue("padding-top", 30, 15);
	@include adaptiveValue("padding-bottom", 40, 20);
	border-radius: toRem(30);
	background-color: $menuBgColor;
	box-shadow: 0px 10px 60px 0px #E2ECF9;
	
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: toRem(15);
		@include adaptiveValue("padding-left", 38, 20);
		@include adaptiveValue("padding-bottom", 40, 20);
		@include adaptiveValue("padding-right", 53, 20);
	}

	&__customer-table {
		// border-collapse: collapse;
		text-align: left;
		width: 100%;
		display: grid;
		
		thead{
			tr{
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				border-bottom: toRem(1) solid #EEEEEE;
				@include adaptiveValue("padding-left", 38, 20);
				@media (max-width:em(1250)){
					grid-template-columns: repeat(3, 1fr);
				}
				@media (max-width:$mobile){
					grid-template-columns: repeat(2, 1fr);
				}
				@media (max-width:$mobileSmall){
					grid-template-columns: auto;
				}
			}
		}
		
		tbody{
			tr {
				position: relative;
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				padding: toRem(20) toRem(0);
				@include adaptiveValue("margin-left", 38, 20);
				@media (max-width:em(1250)) {
					grid-template-columns: repeat(3, 1fr);
					row-gap: toRem(15);
				}
				@media (max-width:$mobile){
					grid-template-columns: repeat(2, 1fr);
				}
				@media (max-width:$mobileSmall){
					grid-template-columns: auto;
				}
				&::after{
					content:'';
					position: absolute;
					top: 100%;
					background-color: #EEEEEE;
					height: toRem(1);
					// width: toRem(888);
					width: toRem(450);
					@include adaptiveValue("width", 880, 450, 0, 1440, 991.98);
					@media (max-width:$tablet){
						@include adaptiveValue("width", 700, 150);
					}
				}
			}
		}

		tr{
			align-items: center;
			gap:toRem(15);
			opacity: 0;
			transform: translate(0, -10%);
			transition: opacity .5s, transform 3s;
			._watcher-view & {
				opacity: 1;
				transform: translate(0, 0);
			
				@for $i from 1 through 9 {
					&:nth-child(#{$i}) {
						$delay: $i * 0.15 + 0.5;
						transition-delay:#{$delay}s;
					}
				}
			}
		}

		th,
		td{
		}

		th{
			color: $mainGreyColor;
			padding-bottom: toRem(13.5);
		}

		td {
			overflow: auto;
			&::-webkit-scrollbar {
				width: toRem(4);
				height: toRem(4);
			}
			&::-webkit-scrollbar-track {
				background: $mainGreyColor;
			}
			&::-webkit-scrollbar-thumb {
				cursor: pointer;
				background: $purpleColor;
				border-radius: toRem(10);
				@media(any-hover:hover){
					&:hover{
						background: darken($purpleColor, 20%);
					}
				}
			}
		}
	}
}

.header-dashboard-main-section {

	&__titles {
	}
	
	&__title {
		font-size: toRem(22);
		font-weight: 600;
		&:not(:last-child){
			margin-bottom: toRem(7);
		}
	}

	&__sub-title {
		font-size: toRem(14);
		color: $accentColor;
	}

	&__search {
		position: relative;
		@media (max-width:$mobileSmall) {
			width: 100%;
		}
		svg{
			position: absolute;
			height: toRem(24);
			width: toRem(24);
			top: toRem(8);
			left: toRem(8);
			g {
				path{
					stroke: #7E7E7E;
					transition: all 0.3s;
				}
			}
			@media (max-width:$mobileSmall){
				top: 50%;
			}
		}
		button {
			@media(any-hover:hover){
				&:hover{
					svg g path{
						stroke: $accentColor;
					}
				}
			}
		}
	}

	&__input {
		padding: toRem(8.5) toRem(10) toRem(8.5) toRem(40);
		width: toRem(216);
		border-radius: toRem(10);
		background-color: #F9FBFF;
		color: $mainGreyColor;
		transition: outline 0.1s;
		&::placeholder{
			font-size: toRem(12);
			color: $mainGreyColor;
		}
		&:focus-visible{
			outline: toRem(2) solid $accentColor;
		}
		@media (max-width:$mobileSmall){
			width: 100%;
		}
	}
}

td.status {
	padding: toRem(4) toRem(5);
	border-radius: toRem(4);
	text-align: center;
	font-weight: bold;
	width: toRem(80);
	height: toRem(29);
	overflow: visible;
}

.status.active {
	background-color: $secondaryAccentColor;
	color: $accentBoldColor;
	border: toRem(1) solid $accentBoldColor;
}

.status.inactive {
	background-color: $warningColor;
	color: $warningBoldColor;
	border: toRem(1) solid $warningBoldColor;
}

.footer-dashboard-main-section {
	@include adaptiveValue("padding-left", 38, 20);
	@include adaptiveValue("padding-right", 40, 20);
	display:flex;
	align-items: center;
	justify-content: space-between;
	column-gap:toRem(30);
	row-gap: toRem(15);
	@media (max-width:$mobile){
		flex-wrap: wrap;
		justify-content: center;
	}

	&:not(:first-child){
		@include adaptiveValue("padding-top", 32, 16);
	}

	&__text {
		color: $mainGreyColor;
	}

	&__pagination {
		display: flex;
		align-items: center;
		gap: toRem(12);
		@media (max-width:$mobile){
			flex-wrap: wrap;
		}
	}
}

.pagination-footer-dashboard {
	&__button {
		border: toRem(1) solid #EEEEEE;
		padding: toRem(5);
		height: toRem(24);
		width: toRem(26);
		display:flex;
		align-items: center;
		justify-content: center;
		color: #404B52;
		background-color: #F5F5F5;
		font-size: toRem(12);
		line-height: 1;
		border-radius: toRem(4);
		transition: all 0.3s;
		@media(any-hover:hover){
			&:hover{
				color: #fff;
				background-color: $purpleColor;
				border: toRem(1) solid $purpleColor;
			}
		}
	}

	&__arrow {
	}
}
//====================================================================================================
